#draggable1 { width: 150px; height: 150px; padding: 0.5em; border: 1px solid black; }

#draggable, #draggable2 { 
	width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0;border: 1px solid black; }
#droppable { 
	width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px;border: 1px solid black; }

#resizable { 
		width: 150px; height: 150px; padding: 0.5em; }
#resizable h3 { 
  	text-align: center; margin: 0; }
.ui-resizable-helper { 
  	border: 1px dotted gray; }

#feedback { 
  	font-size: 1.4em; }
#selectable .ui-selecting { 
  	background: #FECA40; }
#selectable .ui-selected { 
  	background: #F39814; color: white; }
#selectable { 
  	list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { 
  	margin: 10px; font-size: 0.8em; height: 25px; }

#sortable { 
	list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { 
	margin: 0 3px 3px 3px; padding: 1em; padding-left: 1.5em; font-size: 1.4em; height: 30px; }
#sortable li span { 
	position: absolute; margin-left: -1.3em; }

	.ui-controlgroup-vertical {
      width: 150px;
    }
    .ui-controlgroup.ui-controlgroup-vertical > button.ui-button,
    .ui-controlgroup.ui-controlgroup-vertical > .ui-controlgroup-label {
      text-align: center;
    }
    #car-type-button {
      width: 120px;
    }
    .ui-controlgroup-horizontal .ui-spinner-input {
      width: 20px;
    }

    .ui-menu { width: 150px; }

    #progressbar {
    margin-top: 20px;
  }
 
  .progress-label {
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
 
  .ui-dialog-titlebar-close {
    display: none;
  }

  fieldset {
      border: 0;
    }
    label {
      display: block;
      margin: 30px 0 0 0;
    }
    .overflow {
      height: 200px;
    }